<!DOCTYPE HTML>

<html>

<head>
	<title>FourStops</title>
	<meta charset="utf-8">
</head>

<body>

	<h1>FourStops</h1>

	<h3>Turn your journey into an adventure you'll never forget</h3>

	<div>

	<form action="/selectfirst" method="POST">

		<label>Starting destination:</label>
		<input type="text" id="startingaddress" name="startingaddress"><br>
		<label>Ending destination:</label>
		<input type="text" id="endingaddress" name="endingaddress"><br>
		<button type="submit" id="submit" name="user_submit">Submit</button>

	</form>

	</div>

	<p>Powered by Google Maps and FourSquare</p>

</body>

</html>